@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
}
.nav-container {
    width: 1320px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-text {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
}
.nav-btn {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
}
.nav-btn button {
    box-sizing: border-box;
    border: 1px solid rgb(141, 142, 144);
    padding: 15px 27px;
    /* border: none; */
    border-radius: 4px;
}

.banner {
    width: 1516px;
    height: 650px;
    background-image: url(../assets/Hero-bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;

}
.banner-image {
    margin-bottom: 30px;
}
.banner-content {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 100px ;
    margin-right: 100px;
}
.banner-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    margin: 20px 100px 0px;
 
}
.banner-btn{
    color: rgb(255, 255, 255);
 
}
.banner-btn button {
    border-radius: 8px;
    background-color: rgb(13, 19, 33);
    color: white;
    font-family: Azeret Mono;
    font-size: 11px;
    font-weight: 400;
    padding: 14px;
    margin-top: 20px;
}

.developer-container {
    width: 1320px;
    height: 1000px;
    margin: 60px auto;
    background-color: rgb(13, 19, 33, 0.02);

}
.developer-content-text {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding: 50px 0px 20px 0px;

}
.developer-content-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    line-height: 22px;

}
.developer-text-content {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    line-height: 32px;
    letter-spacing: 0%;
}
.developer-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    line-height: 22px;
    letter-spacing: 0%;
    margin-top: 10px;
}
.develop-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 15px 100px;
    background-color: white;
}
.develop-content-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 15px 100px;
    background-color: white;
}
.develop-content-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 15px 100px;
    background-color: white;
}
.developer-btn {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 11px;
    font-weight: 400;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid rgb(141, 142, 144);
}